<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>bds_tools</display-name>
    <servlet>
        <servlet-name>Init</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.Init</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description/>
        <display-name>Downloader</display-name>
        <servlet-name>Downloader</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.downloader.Downloader</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>SetCurrentActivity</display-name>
        <servlet-name>SetCurrentActivity</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.SetCurrentActivity</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>SetCurrentStep</display-name>
        <servlet-name>SetCurrentStep</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.bdm.SetCurrentStep</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>SetDocumentNumber</display-name>
        <servlet-name>SetDocumentNumber</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.SetDocumentNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProctonPecManager</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.ProctonPecManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFascicoloSpecialeId</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.GetFascicoloSpecialeId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadGdDocInFascicolo</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.UploadGdDocInFascicolo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Debug</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.Debug</servlet-class>
    </servlet>
    <servlet>
        <display-name>Schedulatore</display-name>
        <servlet-name>Schedulatore</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.Schedulatore</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ReceiveFile</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.ReceiveFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertGdDoc</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.ioda.api.InsertGdDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGdDoc</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.ioda.api.DeleteGdDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFascicolazioniDocumento</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.ioda.api.GetFascicolazioniDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFascicoli</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.ioda.api.GetFascicoli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGdDoc</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.ioda.api.UpdateGdDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVersamentoParer</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.ioda.api.AddVersamentoParer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVersamentoParer</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.ioda.api.UpdateVersamentoParer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFascicoliSpeciali</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.ioda.api.GetFascicoliSpeciali</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Init</servlet-name>
        <url-pattern>/Init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Downloader</servlet-name>
        <url-pattern>/Downloader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetCurrentActivity</servlet-name>
        <url-pattern>/SetCurrentActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetCurrentStep</servlet-name>
        <url-pattern>/bdm/SetCurrentStep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetDocumentNumber</servlet-name>
        <url-pattern>/SetDocumentNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProctonPecManager</servlet-name>
        <url-pattern>/ProctonPecManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFascicoloSpecialeId</servlet-name>
        <url-pattern>/GetFascicoloSpecialeId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadGdDocInFascicolo</servlet-name>
        <url-pattern>/UploadGdDocInFascicolo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Debug</servlet-name>
        <url-pattern>/Debug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Schedulatore</servlet-name>
        <url-pattern>/Schedulatore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveFile</servlet-name>
        <url-pattern>/ReceiveFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertGdDoc</servlet-name>
        <url-pattern>/ioda/api/document/insert</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/argo</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <context-param>
        <param-name>AuthenticationTable</param-name>
        <param-value>bds_tools.authorized_applications</param-value>
    </context-param>
    <context-param>
        <param-name>UpdateNumberFunctionNameTemplate</param-name>
        <param-value>bds_tools.get_and_set_[nome_sequenza]_number</param-value>
    </context-param>
    <context-param>
        <param-name>proctonSetCurrentActivityFunctionName</param-name>
        <param-value>procton_tools.set_current_activity</param-value>
    </context-param>
    <context-param>
        <param-name>deteSetCurrentActivityFunctionName</param-name>
        <param-value>dete_tools.set_current_activity</param-value>
    </context-param>
    <context-param>
        <param-name>deliSetCurrentActivityFunctionName</param-name>
        <param-value>deli_tools.set_current_activity</param-value>
    </context-param>
    <context-param>
        <param-name>verbaSetCurrentActivityFunctionName</param-name>
        <param-value>verba_tools.set_current_activity</param-value>
    </context-param>
    <context-param>
        <param-name>smistamentoSetCurrentActivityFunctionName</param-name>
        <param-value>bds_tools.set_current_activity</param-value>
    </context-param>
    <context-param>
        <param-name>DocumentoPicoSetCurrentStepFunctionName</param-name>
        <param-value>procton_tools.set_current_step(?, ?)</param-value>
    </context-param>
    <context-param>
        <param-name>DeterminaSetCurrentStepFunctionName</param-name>
        <param-value>dete_tools.set_current_step(?, ?)</param-value>
    </context-param>
    <context-param>
        <param-name>DeliberaSetCurrentStepFunctionName</param-name>
        <param-value>deli_tools.set_current_step(?, ?)</param-value>
    </context-param>
    <context-param>
        <param-name>RegistriTableName</param-name>
        <param-value>bds_tools.registri</param-value>
    </context-param>
    <context-param>
        <param-name>SpedizioniPecTableName</param-name>
        <param-value>bds_tools.spedizioni_pec</param-value>
    </context-param>
    <context-param>
        <param-name>FascicoliTableName</param-name>
        <param-value>gd.fascicoligd</param-value>
    </context-param>
    <context-param>
        <param-name>ParametersTableName</param-name>
        <param-value>bds_tools.parametri_pubblici</param-value>
    </context-param>
    <context-param>
        <param-name>GdDocsTableName</param-name>
        <param-value>gd.gddocs</param-value>
    </context-param>
    <context-param>
        <param-name>SottoDocumentiTableName</param-name>
        <param-value>gd.sotto_documenti</param-value>
    </context-param>
    <context-param>
        <param-name>FascicoliGdDocsTableName</param-name>
        <param-value>gd.fascicoli_gddocs</param-value>
    </context-param>
    <context-param>
        <param-name>TitoliTableName</param-name>
        <param-value>procton.titoli</param-value>
    </context-param>
    <context-param>
        <param-name>SpedizioniPecGlobaleTableName</param-name>
        <param-value>bds_tools.spedizioni_pec_globale</param-value>
    </context-param>
    <context-param>
        <param-name>RicevutePecTableName</param-name>
        <param-value>bds_tools.ricevute_pec</param-value>
    </context-param>
    <context-param>
        <param-name>AggiornamentiParerTableName</param-name>
        <param-value>gd.aggiornamenti_parer</param-value>
    </context-param>
    <context-param>
        <param-name>SpedizioniereApplicazioni</param-name>
        <param-value>bds_tools.spedizioniere_applicazioni</param-value>
    </context-param>
    <context-param>
        <param-name>UtentiTableName</param-name>
        <param-value>procton.utenti</param-value>
    </context-param>
    <context-param>
        <param-name>FileSupportatiTableName</param-name>
        <param-value>bds_tools.file_supportati</param-value>
    </context-param>
    <context-param>
        <param-name>UploadGdDocMongoPath</param-name>
        <param-value>/Procton/Upload Gd Doc</param-value>
    </context-param>
    <context-param>
        <param-name>DefaultSequenceName</param-name>
        <param-value>gddocs</param-value>
    </context-param>

    <!--
    <context-param>
        <param-name>redis.host</param-name>
        <param-value>babelservice1</param-value>
    </context-param>
    -->
    <context-param>
        <param-name>mongogdml</param-name>
        <param-value>mongodb://argo:siamofreschi@procton3,procton4/doc?safe=true&amp;replicaSet=rs0</param-value>
    </context-param>
    <context-param>
        <param-name>mongodownloadgdml</param-name>
        <param-value>mongodb://argo:siamofreschi@procton3,procton4/downloadgdml?safe=true&amp;replicaSet=rs0</param-value>
    </context-param>
    <context-param>
        <param-name>redisgdml</param-name>
        <param-value>gdml</param-value>
    </context-param>
    <context-param>
        <param-name>redisinqueuegdml</param-name>
        <param-value>chefingdml</param-value>
    </context-param>
    <context-param>
        <param-name>getindeidurlgdml</param-name>
        <param-value>http://gdml:9081/Indeutilities/GetIndeId</param-value>
    </context-param>
    <context-param>
        <param-name>mongoarena</param-name>
        <param-value>mongodb://argo:siamofreschi@procton3,procton4/arena?safe=true&amp;replicaSet=rs0</param-value>
    </context-param>
    <context-param>
        <param-name>mongodownloadarena</param-name>
        <param-value>mongodb://argo:siamofreschi@procton3,procton4/downloadarena?safe=true&amp;replicaSet=rs0</param-value>
    </context-param>
    <context-param>
        <param-name>redisarena</param-name>
        <param-value>arena</param-value>
    </context-param>
    <context-param>
        <param-name>redisinqueuearena</param-name>
        <param-value>chefingarena</param-value>
    </context-param>
    <context-param>
        <param-name>getindeidurlarena</param-name>
        <param-value>http://arena:9081/Indeutilities/GetIndeId</param-value>
    </context-param>
    <context-param>
        <param-name>mongoprod</param-name>
        <param-value>mongodb://argo:siamocaldi@babelmongo1,babelmongo2/prod?safe=true&amp;replicaSet=prod0</param-value>
    </context-param>
    <context-param>
        <param-name>mongodownloadprod</param-name>
        <param-value>mongodb://argo:siamocaldi@babelmongo1,babelmongo2/downloadprod?safe=true&amp;replicaSet=prod0</param-value>
    </context-param>
    <context-param>
        <param-name>redisprod</param-name>
        <param-value>babelservice1</param-value>
    </context-param>
    <context-param>
        <param-name>redisinqueueprod</param-name>
        <param-value>chefinprod</param-value>
    </context-param>
    <context-param>
        <param-name>getindeidurlprod</param-name>
        <param-value>http://babelservice3:8080/Indeutilities/GetIndeId</param-value>
    </context-param>
    <context-param>
        <param-name>mongoprototipo</param-name>
        <param-value>mongodb://argo:password@localhost/doc?safe=true</param-value>
    </context-param>
    <context-param>
        <param-name>mongodownloadprototipo</param-name>
        <param-value>mongodb://argo:password@localhost/download?safe=true</param-value>
    </context-param>
    <context-param>
        <param-name>redisprototipo</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>redisinqueueprototipo</param-name>
        <param-value>chefin</param-value>
    </context-param>
    <context-param>
        <param-name>getindeidurlprototipo</param-name>
        <param-value>http://localhost:8080/Indeutilities/GetIndeId</param-value>
    </context-param>
    <context-param>
        <param-name>appid</param-name>
        <param-value>bds_tools</param-value>
    </context-param>
    <context-param>
        <param-name>apptoken</param-name>
        <param-value>bds_tools</param-value>
    </context-param> 
    <context-param>
        <param-name>ResourceLockedMaxRetryTimes</param-name>
        <param-value>5</param-value>
    </context-param>
    <context-param>
        <param-name>ResourceLockedSleepMillis</param-name>
        <param-value>5000</param-value>
    </context-param>
    <context-param>
        <param-name>GdDocToPublishExtractionQuery</param-name>
        <param-value> SELECT g.id_gddoc, id_utente_modifica, nome_gddoc,
id_documento_origine, categoria_origine, tipo_gddoc,
g.data_ultima_modifica, stato_gd_doc, g.in_uso_da, data_gddoc,
g.stato_mestieri, guid_gddoc, g.codice_registro as codice_registro_gd,
data_registrazione, numero_registrazione, id_utente_registrazione,
anno_registrazione, firmato, id_oggetto_origine, tipo_oggetto_origine,
forzato_da_utente, id_utente_forzatura, g.oggetto as oggetto_gddoc,
codice, r.desc_pubb_albo as descrizione_albo, mt.contenuto as contenuto_trasparenza,
mt.oggetto as oggetto_trasparenza, mt.spesa_prevista as spesa_prevista,
mt.estremi_documento as estremi_documento,
mt.id_tipo_provvedimento as tipo_provvedimento_trasparenza,
nome_struttura_firmatario as articolazione, giorni_pubblicazione,
prefix,
coalesce(sdOmissis.nome_sottodocumento,sd.nome_sottodocumento) as nome_sottodocumento, 
coalesce(sdOmissis.codice_sottodocumento,sd.codice_sottodocumento) as codice_sottodocumento,
pubblicato
FROM gd.gddocs g
left join gd.sotto_documenti sdOmissis on sdOmissis.nome_sottodocumento='StampaUnicaOmissis' and g.id_gddoc=sdOmissis.id_gddoc
left join gd.sotto_documenti sd on sd.nome_sottodocumento='StampaUnica' and g.id_gddoc=sd.id_gddoc,
bds_tools.registri r,
bds_tools.metadati_trasparenza mt,
bds_tools.authorized_applications a
where g.codice_registro = r.codice_registro
and r.pubblicazione_automatica = -1
and g.numero_registrazione is not null
and g.numero_registrazione != ''
and g.data_registrazione is not null
and g.tipo_gddoc = 'r'
and g.pubblicato = 0
and a.id_applicazione = g.applicazione
and mt.guid_oggetto = REPLACE(id_oggetto_origine, prefix, '')
and g.id_oggetto_origine = id_oggetto_origine
and sd.id_gddoc = g.id_gddoc
and sd.tipo_sottodocumento = 'stampa_unica'
        </param-value>
    </context-param>
    <context-param>
        <param-name>GdDocUpdatePubblicato</param-name>
        <param-value>
            UPDATE gd.gddocs
            SET pubblicato=1
            WHERE id_gddoc = ?
        </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>DeleteGdDoc</servlet-name>
        <url-pattern>/ioda/api/document/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFascicolazioniDocumento</servlet-name>
        <url-pattern>/ioda/api/fascicolo/getFascicolazioniDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFascicoli</servlet-name>
        <url-pattern>/ioda/api/fascicolo/getFascicoli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGdDoc</servlet-name>
        <url-pattern>/ioda/api/document/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVersamentoParer</servlet-name>
        <url-pattern>/ioda/api/document/addVersamentoParer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVersamentoParer</servlet-name>
        <url-pattern>/ioda/api/document/updateVersamentoParer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFascicoliSpeciali</servlet-name>
        <url-pattern>/ioda/api/fascicolo/getFascicoliSpeciali</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
