<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>bds_tools</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>Downloader</display-name>
        <servlet-name>Downloader</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.downloader.Downloader</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>SetCurrentActivity</display-name>
        <servlet-name>SetCurrentActivity</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.SetCurrentActivity</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>SetDocumentNumber</display-name>
        <servlet-name>SetDocumentNumber</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.SetDocumentNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProctonPecManager</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.ProctonPecManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFascicoloSpecialeId</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.GetFascicoloSpecialeId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadGdDocInFascicolo</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.UploadGdDocInFascicolo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Debug</servlet-name>
        <servlet-class>it.bologna.ausl.bds_tools.Debug</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Downloader</servlet-name>
        <url-pattern>/Downloader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetCurrentActivity</servlet-name>
        <url-pattern>/SetCurrentActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetDocumentNumber</servlet-name>
        <url-pattern>/SetDocumentNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProctonPecManager</servlet-name>
        <url-pattern>/ProctonPecManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFascicoloSpecialeId</servlet-name>
        <url-pattern>/GetFascicoloSpecialeId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadGdDocInFascicolo</servlet-name>
        <url-pattern>/UploadGdDocInFascicolo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Debug</servlet-name>
        <url-pattern>/Debug</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/argo</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <context-param>
        <param-name>AuthenticationTable</param-name>
        <param-value>bds_tools.authorized_applications</param-value>
    </context-param>
    <context-param>
        <param-name>proctonUpdateNumberFunctionName</param-name>
        <param-value>procton_tools.get_and_set_protocol_number</param-value>
    </context-param>
    <context-param>
        <param-name>deteUpdateNumberFunctionName</param-name>
        <param-value>dete_tools.get_and_set_dete_number</param-value>
    </context-param>
    <context-param>
        <param-name>deliUpdateNumberFunctionName</param-name>
        <param-value>deli_tools.get_and_set_deli_number</param-value>
    </context-param>
    <context-param>
        <param-name>verbaUpdateNumberFunctionName</param-name>
        <param-value>verba_tools.get_and_set_verba_number</param-value>
    </context-param>
    <context-param>
        <param-name>babelUpdateNumberFunctionName</param-name>
        <param-value>gd_tools.get_and_set_gddoc_number</param-value>
    </context-param>
    <context-param>
        <param-name>proctonSetCurrentActivityFunctionName</param-name>
        <param-value>procton_tools.set_current_activity</param-value>
    </context-param>
    <context-param>
        <param-name>deteSetCurrentActivityFunctionName</param-name>
        <param-value>dete_tools.set_current_activity</param-value>
    </context-param>
    <context-param>
        <param-name>deliSetCurrentActivityFunctionName</param-name>
        <param-value>deli_tools.set_current_activity</param-value>
    </context-param>
    <context-param>
        <param-name>verbaSetCurrentActivityFunctionName</param-name>
        <param-value>verba_tools.set_current_activity</param-value>
    </context-param>
    <context-param>
        <param-name>smistamentoSetCurrentActivityFunctionName</param-name>
        <param-value>bds_tools.set_current_activity</param-value>
    </context-param>
    <context-param>
        <param-name>SpedizioniPecTableName</param-name>
        <param-value>bds_tools.spedizioni_pec</param-value>
    </context-param>
    <context-param>
        <param-name>FascicoliTableName</param-name>
        <param-value>gd.fascicoligd</param-value>
    </context-param>
    <context-param>
        <param-name>ParametersTableName</param-name>
        <param-value>bds_tools.parametri_pubblici</param-value>
    </context-param>
    <context-param>
        <param-name>GdDocsTableName</param-name>
        <param-value>gd.gddocs</param-value>
    </context-param>
    <context-param>
        <param-name>SottoDocumentiTableName</param-name>
        <param-value>gd.sotto_documenti</param-value>
    </context-param>
    <context-param>
        <param-name>FascicoliGdDocsTableName</param-name>
        <param-value>gd.fascicoli_gddocs</param-value>
    </context-param>
    <context-param>
        <param-name>UploadGdDocMongoPath</param-name>
        <param-value>/Procton/Upload Gd Doc</param-value>
    </context-param>
    <context-param>
        <param-name>redis.host</param-name>
        <param-value>babelservice1</param-value>
    </context-param>
    <context-param>
        <param-name>mongogdml</param-name>
        <param-value>mongodb://argo:siamofreschi@procton3/doc</param-value>
    </context-param>
    <context-param>
        <param-name>redisgdml</param-name>
        <param-value>babelservice1</param-value>
    </context-param>
    <context-param>
        <param-name>mongoarena</param-name>
        <param-value>mongodb://argo:siamofreschi@procton3/arena</param-value>
    </context-param>
    <context-param>
        <param-name>redisarena</param-name>
        <param-value>babelservice1</param-value>
    </context-param>
    <context-param>
        <param-name>mongoprod</param-name>
        <param-value>mongodb://argo:siamocaldi@babelmongo1,babelmongo2/prod?safe=true&amp;replicaSet=prod0</param-value>
    </context-param>
    <context-param>
        <param-name>redisprod</param-name>
        <param-value>babelservice1</param-value>
    </context-param>
</web-app>
