<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bds_tools</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Downloader</display-name>
    <servlet-name>Downloader</servlet-name>
    <servlet-class>it.bologna.ausl.bds_tools.Downloader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Downloader</servlet-name>
    <url-pattern>/Downloader</url-pattern>
  </servlet-mapping>
  <context-param>
        <param-name>redis.host</param-name>
        <param-value>vm6-kvm-procton.internal.ausl.bologna.it</param-value>
   </context-param>
  <context-param>
        <param-name>mongogdml</param-name>
        <param-value>mongodb://argo:siamofreschi@procton3,procton4/doc</param-value>
   </context-param>
</web-app>